/* 試しにcss作ってみた */

@charset "UTF-8";

body {
	font-family: "verdana";
	
}


header {
	background-color: #f7f2b4;
	height: 110px;
}

footer{
	background-color: #f7f2b4;
	height: 20px;
}

#myName {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

.lang-switch {
	display: flex;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: absolute;
	top: 2rem;
	right: 2rem;
	padding: .4rem;
	background-color: var(--subColor);
	z-index: 2;
} 
  .lang-switch a {
	margin-right: 5px; 
	padding: 8px 12px; 
	text-decoration: none;
	color: #333;
	background-color: #f7f2b4; 
	border-radius: 5px; 
  }
  
  .lang-switch a:hover {
	background-color:#f7f2b4; 
  }

.slideshow-container {
	max-width: 50%;
	position:relative;
	margin-right: auto;
  }
  
  .mySlides {
    display: none;
	height: 280px;
  }
  
  /*.fade {
	animation: fade 1.5s ease-in-out infinite;
  }
  
  @keyframes fade {
	from {
	  opacity: 0.4;
	}
	to {
	  opacity: 1;
	}
  }*/

