/* 試しにcss作ってみた */

@charset "UTF-8";

body {
	font-family: "verdana";
	
}


header {
	background-color: #f7f2b4;
	height: 110px;
}

footer{
	background-color: #f7f2b4;
	height: 20px;
}

#myName {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

.lang-switch {
	display: flex;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	position: absolute;
	top: 2rem;
	right: 2rem;
	padding: .4rem;
	background-color: var(--subColor);
	z-index: 2;
} 
  .lang-switch a {
	margin-right: 5px; 
	padding: 8px 12px; 
	text-decoration: none;
	color: #333;
	background-color: #f7f2b4; 
	border-radius: 5px; 
  }
  
  .lang-switch a:hover {
	background-color:#f7f2b4; 
  }

.slideshow-container {
	max-width: 50%;
	position:relative;
	margin-right: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  /*.fade {
	animation: fade 1.5s ease-in-out infinite;
  }
  
  @keyframes fade {
	from {
	  opacity: 0.4;
	}
	to {
	  opacity: 1;
	}
  }*/

  .comment-form {
	max-width: 100%;
	margin: auto;
	padding: 20px;
	background-color: #f7f2b4;
	border: 1px solid #f7f2b4;
	border-radius: 5px;
  }
  
  textarea {
	width: 100%;
	margin-bottom: 10px;
  }
  
  input[type="button"] {
	background-color: #4caf50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
  }
  
  input[type="button"]:hover {
	background-color: #45a049;
  }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 53px;
	height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  #modeText {
	margin: 10px; /* Adjust the margin as needed */
  }
  
  .toggle-switch {
	display: flex;
	align-items: center;
	margin-top: 20px;
  }

  .content {
	margin-top: 20px;
  }