body {
    margin: 0;
    padding: 0;
  }

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1 1 1 1 1;
    width: 100%;
    color: #fff;
    background-color: #333;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 10px;
    position: relative;
    z-index: 1; /* Set the z-index to ensure the header is above the body */
}

h1 {
  order: 0;
}

.menu{
  width: 80%;
  height: auto;
  display: flex;
  flex:auto;
  order: 1;
  }

h2 {
   font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 12px;
   order: 2;
}

  nav {
    margin: 0 0 0 auto;
  }
  
  nav ul li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    }
  
  nav ul li::after{
    content:'';
    background: #777;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    }
  
  
  nav ul li:hover::after{
    top: 50%;
    opacity: 1;
    }
  
  
  .menu nav ul li a {
    text-decoration: none;
    color: #fff;
    }

main {
    padding: 20px;
    background-color: #f8f8f8;
  }
  .svg-container {
      display: flex;
      flex-wrap: wrap;
    }
  .svg-row {
      display: flex;
      margin-bottom: 10px;
    }